
.idea/*
*.swp
*.mov
*.log
.ipynb_checkpoints
.DS_Store 
*.pyc
.vscode
converted
*all_scalars.json
*runs*
*val_dir
*.onnx
*.pth
tmp/*
data/*
*.ckpth
*.ckpt
*.pt
*.mlmodel
*.tflite
*.pmodel
*.png
*.jpg
*.jpeg
*.JPG
*.mp4
*.MP4
*.mov
*.MOV
*.pickle
inpainting/inp_working_dir/*
tracking/*
train/checkpoint/*
*egg-info
build/

*zip
*mp4
*MOV
*txt
mmdetection
pretrained_models

VPP_RnD

*.db